<div id="dentrino-component">
  <div class="processing-form">
    <form method="POST" enctype="multipart/form-data" class="upload-form">
      <input type="hidden" name="secret" value=""></input>
      <fieldset>
        <label for="photo">{{i18n "form:user:image"}}</label>
        <input name="photo" type="file" accept="image/*" capture />
      </fieldset>

      <input type="submit" name="btn" class="processing-button" value="{{i18n "form:submit"}}"></input>
    </form>
    <div id="feedback-container">
      <div class="simulation-images">
      {{#with simulation}}
        {{#if success}}
          <img src="{{original}}" width="300px" />
          <img src="{{result}}" width="300px" />
        {{/if}}
      {{/with}}
      </div>

      <div class="error {{#unless simulation.error_message}}hidden{{/unless}}">
        <span class="error-label">{{i18n "form:label:error"}}</span>: <span class="error-message">{{simulation.error_message}}</span>
      </div>

      <div class="upload-feedback hidden">
        <span>[RUNNING SIMULATION]</span>
      </div>
    </div>
  </div>

  <!--
  <div class="output-container">
    <div class="error-container hide">
      <span class="error-message">Error</span>
    </div>

    <div class="progress-component hide">
      <div class="progress-success">
        <span class="percentage">100</span>
        <div class="description">
          <span class="stage">Uploading</span>
          <span class="loading-dots">...</span>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
