<div id="dentrino-component">
  <div class="processing-form">
    <form method="POST" action="/api/image-processing-solicitations/by-patient" class="data-form">
      <fieldset>
        <label for="name">{{i18n "form:user:name"}}</label>
        <input type="text" name="name"></input>
      </fieldset>

      <fieldset>
        <label for="email">{{i18n "form:user:email"}}</label>
        <input type="email" name="email"></input>
      </fieldset>

      <fieldset>
        <label for="phone">{{i18n "form:user:telephone-number"}}</label>
        <input type="tel" name="phone"></input>
      </fieldset>
    </form>

    <form method="POST" class="upload-form">
      <input type="hidden" name="secret" value="{{secret}}"></input>
      <fieldset>
        <label for="image">{{i18n "form:user:image"}}</label>
        <input name="image" type="file" accept="image/*" capture />
      </fieldset>

      <input type="button" class="processing-button" value="{{i18n "form:submit"}}"></input>
    </form>
  </div>

  <div class="output-container">
    <div class="error-container hide">
      <span class="error-message">Error</span>
    </div>

    <div class="progress-component hide">
      <div class="progress-success">
        <span class="percentage">100</span>
        <div class="description">
          <span class="stage">Uploading</span>
          <span class="loading-dots">...</span>
        </div>
      </div>
    </div>
  </div>
</div>
